@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.header {
  opacity: 0;
  animation: fadeIn 1.2s ease-in forwards;
  position: relative;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.navLinks {
  grid-column: span 1;
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hamburger {
  display: none;
}

.navLinks li {
  margin: 0 20px;
  margin-top: 10px;
  font-size: 80%;
}

.navLinks a {
  color: #d45b8c;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #683545;
  transition: 0.5s;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .navBar {
    justify-content: flex-end;
    padding: 20px;
    background-color: #ffeef3;
    position: relative;
    z-index: 1000;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: #d45b8c;
    cursor: pointer;
    z-index: 1000;
  }

  .navLinks {
    position: absolute;
    top: 70px;
    right: 20px;

    display: none;
    flex-direction: column;

    background: white;
    padding: 20px;
    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  }

  .ativo {
    display: flex;
  }
}