body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f7afa6;
  gap: 20px;
}

.portfolio {
  margin-top: 10px;
  height: 100vh;
  text-align: center;
}

.about h2 {
  align-items: left;
}
